body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-image: url('streaming.png') ;
}

a {
    color: cyan;
    text-decoration: none;

}

img {
    width: 100%;
}

div.header {
    color: white;    
    font-family: akira;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

div.header a {
    color:white;
}

div.header a:hover {
    color: magenta;
}

div.logo {
    padding: 10px;
    width: 50%;
}

div.nav {
    width: 50%;
}

div.masthead {
    color: cyan;
    position: relative;
    padding-top: 70px;
    text-shadow: 10px;
    font-size: 40vw;

}

div.about {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

div.footnotes {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid white;
}

div.note {
    width: 33.333%;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;

}

div.title{
    font-size: 100px;
    font-family: akira;
    color: magenta;
    text-align: center;
    margin-top: 100px;
}

div.keywords {
    font-size: 20px;
    text-align: center;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

div.item {
    width: 33.333%;
    text-align: center;
    color: cyan;
    padding: 10px;
}

a.button{
    background-color: cyan;
    font-size: 20px;
    color: magenta;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
}

div.item.pushright {
    margin-right: 33.333%;
}

div.item.larger {
    text-align: center;
    width: 50%;
}


div.number {
    font-size: 25px;
}
@font-face {
    font-family: 'akira';
    src: url(akira.otf);
}

div.hero {
    display: flex;
    flex-wrap: wrap;
}

div.mainstream {
    width: 70%;
    font-size: 20px;
    font-style: bold;

}

div.chat {
    width: 25%;
    height: 550px;
    overflow: scroll;
    background-color: black;
    border: 4px solid magenta;
    border-radius: 20px;
    padding: 20px;
    margin-left: 30px;
}

div.chatbox {
    font-family: arial;
    color: magenta;
    border: 4px solid magenta;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    display: inline-flex;
    font-size: 16px;
}

div.chatbox.kda {
    font-size: 16px;
    color: cyan;
    border: 2px solid cyan;
}


div.controls {
    width: 100%;
}

div.hearts {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    padding-right: 50px;
    width: 18%;
}

div.heroimage {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

div.menu {
    width: 25%;
    font-size: 30px;
    font-family: akira;
    padding-left: 600px;
}

div.fours {
    padding-top: 50px;
    padding-left: 40px;
    position: absolute;
    font-family: akira;
    font-size: 250px;
    width: 75%;
    
}

div.herosidebar {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-top: 20pc;
}

div.masthead {
    display: flex;
    flex-wrap: wrap;
}
